@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');

:root {
--Porcelain: #fbfef9;
--Grey_Olive: #7e8987;
--Regal_Navy: #083d77;
--Deep_Space_Blue: #273043;
--Carmine: #bf1a2f;
}

body {background: linear-gradient(#37373d, #181e29);
    background-size: 100% 700px ;
    background-repeat: no-repeat;
    background-color: #181e29 ;

}

h1 {
    border-radius: 10px;
    color: var(--Porcelain);
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--Porcelain);
    
}

li {
    font-family: cursive;
    color: var(--Porcelain);
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--Porcelain);
}


strong {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Porcelain);
}

a {
text-decoration: none;
color: #fbfef9;
background-color: #bf1a2f;
border-radius: 5px;
font-size: 20px;
}

a:hover {
color: #d9dbd7;    
background-color: #941425;
box-shadow: 0 0 5px var(--Grey_Olive);
}